/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Custom Properties */

:root {
  --color-primary: #d92d20;
  --color-primary-dark: #b82419;

  --color-light: #f7f6f2;
  --color-dark: #20201e;

  --color-muted: #ebe9e4;

  --font-heading: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;
}

/* Global Styles*/

body {
  background-color: var(--color-dark);
  font-family: var(--font-body);
}

h1,
h2,
h3,
nav,
.cta-link {
  font-family: var(--font-heading);
}

/* Header/Nav */

header {
  background-color: var(--color-light);
}
.header-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}


nav a {
  color: var(--color-dark);
  text-decoration: none;
}

nav a:hover {
  color: var(--color-primary);
}

.site-logo {
  width: 120px;
}

nav,
.cta-link {
  font-weight: 400;
}

.cta-link {
  background-color: var(--color-primary);
  color: var(--color-light);
  text-decoration: none;
  padding: 0.75rem 1rem;
}

.cta-link:hover {
  background-color: var(--color-primary-dark);
}